
<h3>Устройства Yeelight</h3><br>

<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">О модуле&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Устройства Yeelight</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
					<img src="../templates/Yeelight/img/YeelightLogo.jpg"  width="58" height="58">
					<br><br><p><b>v.0.1</b></p>
				</div>
                <p class="float-left">
					Модуль поддержки Yeelight устройств. <br><br>
					Обсуждение модуля на <a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=4&t=4193" target="_blank">форуме</a>.<br>
					Проект на <a href="https://github.com/Gelezako/MajorDomo-Yeelight" target="_blank">Github</a>.<br>
					Проект в <a href="https://connect.smartliving.ru/tasks/64.html" target="_blank">Connect</a>.<br>
				</p>
				<hr size="1">
				<p class="float-left">
				Поддержать разработку и развитие модуля:
				<ul>
				    <li>Страничка для доната в: <a href="https://www.liqpay.ua/ru/checkout/380972054741" target="_blank">Liqpay</a></li>
					<li>Страничка для доната в: <a href="https://www.patreon.com/user?u=8755313" target="_blank">Patreon</a></li>
					<li>Внутренний счет в <a href="https://connect.smartliving.ru/tasks/64.html" target="_blank">Connect</a></li>
					<li>WMZ: Z361986620412</li>
					<li>WMR: R202811747775</li>
					<li>WMU: U201862406146</li>
					<li>WME: E313349347372</li>
				</ul>
                </p>
			</div>
			<div class="modal-footer">
				<div class="pull-left">Автор: <a href="https://telegram.me/gelezako" target="_blank">Gelezako</a></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div>
	<img src="../templates/Yeelight/img/YeelightLogo.jpg"  width="120" height="120">
	&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;
</div>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
<div class="form-group">
<div>
<table class="table table-stripped">
 <tr>
  <td><#LANG_DEVICE#></td>
  <td>Иконка</td>
  <td>IP</td>
  <td>&nbsp;</td>
 </tr>
 
[#begin obj#]
 <tr>
  <td valign="top"><#model#></td>
   <td style="vertical-align:middle">
	[#if model!=""#]
		<img src="../templates/Yeelight/img/small/<#model#>.png" height="40px">
	[#else#]
		<img src="../templates/Yeelight/img/small/unknown.png" height="36px">
	[#endif#]
   </td>
   <td>
	[#if IP!=""#]
		<#IP#>
		&nbsp;
	[#endif#]
 </tr>
[#end obj#]
</table> 
</div>
</div>
</fieldset>
</form>





