<!--
* Поиск по Youtube 
* @author Alex Sokolov <admin@gelezako.com>
* @copyright http://blog.gelezako.com (c)
* @version 0.1 (wizard, 11:03:33 [Mar 18, 2017])
-->

<h3>Голосовой поиск по YouTube</h3><br>

<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">О модуле&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Голосовой поиск по YouTube</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
					<img src="https://connect.smartliving.ru/cms/addons/85_icon.jpg"  width="58">
					<br><br><p><b>v.0.1</b></p>
				</div>
                <p class="float-left">
					Модуль голосового поиска по YouTube <br><br>
					Обсуждение модуля на <a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=3915" target="_blank">форуме</a>.<br>
					Проект на <a href="https://github.com/Gelezako/MajorDomo-YoutubeSearch" target="_blank">Github</a>.<br>
					Проект в <a href="https://connect.smartliving.ru/addons/category4/85.html" target="_blank">Connect</a>.<br>
				</p>
				<hr size="1">
				<p class="float-left">
				Поддержать разработку и развитие модуля:
				<ul>
				    <li>Страничка для доната в: <a href="https://www.liqpay.ua/ru/checkout/380972054741" target="_blank">Liqpay</a></li>
					<li>Страничка для доната в: <a href="https://www.patreon.com/user?u=8755313" target="_blank">Patreon</a></li>
					<li>Внутренний счет в <a href="https://connect.smartliving.ru/tasks/66.html" target="_blank">Connect</a></li>
					<li>WMZ: Z361986620412</li>
					<li>WMR: R202811747775</li>
					<li>WMU: U201862406146</li>
					<li>WME: E313349347372</li>
				</ul>
                </p>
			</div>
			<div class="modal-footer">
				<div class="pull-left">Автор: <a href="https://telegram.me/gelezako" target="_blank">Gelezako</a></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div>
	<img src="https://connect.smartliving.ru/cms/addons/85_icon.jpg"  width="120">
	&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;
</div>


<div  id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_KEY#] style="color:red;font-weight:bold"[#endif#]>
 Google Developer Key: (*)
 </label>
 <div class="controls"><input type="text" name="api_key" value="[#API_KEY#]" class="input"></div>
 </br>
<label class="control-label"[#if MAX_COUNT#] style="color:red;font-weight:bold"[#endif#]>
Максимальное колличество youtube клипов: (*)
 </label></br><div class="controls">
 <input type="text" name="maxCount" list="count" placeholder="1-25">
<datalist id="count">
<option value="1" [#if maxCount="1" #]  selected[#endif#]>1</option>
<option value="2" [#if maxCount="2" #]  selected[#endif#]>2</option>
<option value="3" [#if maxCount="3" #]  selected[#endif#]>3</option>
<option value="4" [#if maxCount="4" #]  selected[#endif#]>4</option>
<option value="5" [#if maxCount="5" #]  selected[#endif#]>5</option>
<option value="6" [#if maxCount="6" #]  selected[#endif#]>6</option>
<option value="7" [#if maxCount="7" #]  selected[#endif#]>7</option>
<option value="8" [#if maxCount="8" #]  selected[#endif#]>8</option>
<option value="9" [#if maxCount="9" #]  selected[#endif#]>9</option>
<option value="10" [#if maxCount="10" #]  selected[#endif#]>10</option>
<option value="11" [#if maxCount="11" #]  selected[#endif#]>11</option>
<option value="12" [#if maxCount="12" #]  selected[#endif#]>12</option>
<option value="13" [#if maxCount="13" #]  selected[#endif#]>13</option>
<option value="14" [#if maxCount="14" #]  selected[#endif#]>14</option>
<option value="15" [#if maxCount="15" #]  selected[#endif#]>15</option>
<option value="16" [#if maxCount="16" #]  selected[#endif#]>16</option>
<option value="17" [#if maxCount="17" #]  selected[#endif#]>17</option>
<option value="18" [#if maxCount="18" #]  selected[#endif#]>18</option>
<option value="19" [#if maxCount="19" #]  selected[#endif#]>19</option>
<option value="20" [#if maxCount="20" #]  selected[#endif#]>20</option>
<option value="21" [#if maxCount="21" #]  selected[#endif#]>21</option>
<option value="22" [#if maxCount="22" #]  selected[#endif#]>22</option>
<option value="23" [#if maxCount="23" #]  selected[#endif#]>23</option>
<option value="24" [#if maxCount="24" #]  selected[#endif#]>24</option>
<option value="25" [#if maxCount="25" #]  selected[#endif#]>25</option>
</datalist></div>
</div>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=3915" target="_blank">Обсуждение модуля на форуме</a>.<br>
<a href="https://www.youtube.com/watch?v=6ggg7jzs8qQ&index=7&list=PLYOYjvcehgZKWUxcNR25o37EdBGtX084E" target="_blank">Обучающее видео</a>.<br>
</div>
